<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos comunes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (product of productService.allProducts(); track product.id) {
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img [src]="product.imageUrl" alt="Imagen del producto" />
      </ion-thumbnail>

      <ion-label>
        <h2 style="font-weight: bold">{{ product.name }}</h2>
        <p>{{ product.description }}</p>
      </ion-label>
    </ion-item>
    } @empty {
    <div class="ion-padding ion-text-center">
      <ion-icon name="basket-outline" style="font-size: 48px"></ion-icon>
      <p>No hay productos disponibles en este momento.</p>
    </div>
    }
  </ion-list>
</ion-content>
