// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --color-primary: #fff;
  --color-secondary: #d8edf7;
  --color-button: #00b894;      
  --color-button-hover: #019875;
  --color-white: #fff;
  --color-black: #000;  
  --color-grey: #686868;  
  --color-blue: #006adb;
}
