<app-header title="Acceso" [backButton]="true" [noBorder]="true"></app-header>

<ion-content class="ion-padding ion-text-center">
  <div class="login-header ion-padding">
    <ion-icon
      name="person-circle-outline"
      color="primary"
      style="font-size: 80px"
    ></ion-icon>
    <h1>¡Bienvenido de nuevo!</h1>
    <p>Ingresa tus credenciales para continuar</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="ion-margin-top">
    <ion-item lines="filled" class="ion-margin-bottom">
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <div
      class="error-container"
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
    >
      <ion-text color="danger">
        <small>Formato de correo no válido.</small>
      </ion-text>
    </div>

    <ion-item lines="filled" class="ion-margin-bottom">
      <ion-icon
        name="lock-closed-outline"
        slot="start"
        color="medium"
      ></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div
      class="error-container"
      *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
    >
      <ion-text color="danger">
        <small>Mínimo 6 caracteres requeridos.</small>
      </ion-text>
    </div>

    <div class="ion-padding-top">
      <ion-button
        expand="block"
        type="submit"
        [disabled]="loginForm.invalid"
        shape="round"
      >
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Iniciar sesión
      </ion-button>
    </div>
  </form>
</ion-content>
