<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Producto</ion-title>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="confirmDelete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (product()) {
  <div class="product-card">
    <img [src]="product()?.imageUrl" class="product-image" />

    <div class="product-info">
      <h1>{{ product()?.name }}</h1>

      <div class="description-section">
        <h3>Descripción</h3>
        <p>{{ product()?.description }}</p>
      </div>
    </div>
  </div>
  } @else {
  <div class="ion-text-center">
    <p>Producto no encontrado.</p>
    <ion-button (click)="goBack()">Volver al listado</ion-button>
  </div>
  }
</ion-content>
