<app-header
  title="Detalles del Producto"
  [backButton]="true"
  defaultHref="/products"
  [showDelete]="true"
  (onDelete)="confirmDelete()"
>
</app-header>

<ion-content class="ion-padding">
  @if (product()) {
  <div class="product-card">
    <div class="product-image-container">
      <img [src]="product()?.imageUrl" class="product-image" />
    </div>

      <div class="product-info">
        <h1>{{ product()?.name }}</h1>

      <div class="description-section">
        <h3>Descripción</h3>
        <p>{{ product()?.description }}</p>
      </div>
    </div>
  </div>
  } @else {
  <div class="ion-text-center">
    <p>Producto no encontrado.</p>
    <ion-button (click)="goBack()">Volver al listado</ion-button>
  </div>
  }
</ion-content>
