<app-header title="Bienvenido"></app-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-text color="primary" class="ion-text-center">
      <h1>Gestión de Productos</h1>
    </ion-text>

    <div class="button-group">
      <ion-button
        expand="block"
        (click)="goToLogin()"
        class="ion-margin-bottom"
      >
        Acceder a mi Cuenta
      </ion-button>

      <ion-button expand="block" fill="outline" (click)="goToProducts()">
        Ver Productos a la Venta
      </ion-button>
    </div>
  </div>
</ion-content>
