<app-header 
titulo="Gestor de Incidencias" (accionPapelera)="borrarTodo()">
</app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta aplicación te permite reportar incidencias técnicas capturando tu
      <strong>ubicación exacta</strong> y una <strong>fotografía</strong> del
      problema para una resolución más rápida.
    </ion-card-content>
  </ion-card>

  <div class="ion-margin-top">
    <ion-button expand="block" routerLink="/alta" shape="round">
      <ion-icon slot="start" name="add-circle"></ion-icon>
      Nueva Incidencia
    </ion-button>

    <ion-button
      expand="block"
      fill="outline"
      routerLink="/lista"
      shape="round"
      class="ion-margin-top"
    >
      <ion-icon slot="start" name="list"></ion-icon>
      Ver Listado
    </ion-button>
  </div>
</ion-content>
