<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reservar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nueva Reserva</ion-card-title>
      <ion-card-subtitle>Completa la información</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      
      <ion-item>
        <ion-label position="stacked">Nombre del cliente</ion-label>
        <ion-input placeholder="Introduce el nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" placeholder="Selecciona la fecha"></ion-datetime>
      </ion-item>

      <ion-button class="btn-confirm" [routerLink]="'/tabs/reservations'">
        Confirmar Reserva
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>