<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clients" [routerLink]="'/tabs/clients'">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations" [routerLink]="'/tabs/reservations'">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products" [routerLink]="'/tabs/products'">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>