// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
/* variables.scss */


:root {
  --color-primary: #5a5a5a;
  --color-secondary: #fcf6a8;
  --color-danger: #eb445a;
  --color-light: #f4f5f8;
  --color-text: #d8d8d8;

  --button-hover: #2f6ae0;

  --border-radius: 8px;
  --header-height: 56px;

}
