/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-toolbar{
  position: relative;
  display: flex;
  align-items: center;       
  --background: var(--color-primary);
  --color: var(--color-black)
}

ion-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

ion-buttons{
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}

ion-content{
  --background: #f5f3f3;
}

ion-list{
  margin: 1rem;
  background: transparent;
}

ion-item{
  --background: var(--color-secondary);

  margin-bottom: 12px;
  border-radius: 12px;

  box-shadow: 0 4px 8px rgba(0,0,0,0.08);

  --padding-start: 14px;
  --inner-padding-end: 14px;
}

ion-icon{
  font-size: 26px;
}

ion-label h2{
  font-weight: 600;
  font-size: 1.1rem;
}

ion-label p{
  opacity: 0.7;
  font-size: 0.9rem;
}
